* {
	font-size: 15px;
	font-family: JetbrainsMono Nerd Font;
    font-weight: bold;
}

window#waybar {
	background: transparent;
	color: #D3C6AA;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1E2326;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #1E2326;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: #1E2326;
}

#workspaces button {
	padding: 0 0px;
	color: #D3C6AA;
}
#workspaces button.focused {
	color: #83C092;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1E2326;
	border: #1E2326;
	padding: 0 3px;
}

#pulseaudio {
	color: #7FBBB3;
}
#memory {
	color: #D3C6AA;
}
#cpu {
	color: #DBBC7F;
}
#battery {
	color: #A7C080;
}
#disk {
	color: #E69875;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
